    table.gsl {
        border: 1;
        margin-left: auto;
        margin-right: auto;
        background-color: black;
    }
    td.watched {
        background-color: #00FF00;
    }
    td.unwatched {
        background-color: red;
    }
    td.match {
        background-color: #787878;
        text-align: center;
    }
    td.game {
        background-color: #989898;
        text-align: center;
    }
    td.round {
        background-color: #585858;
        text-align: center;
    }
    td.group {
        background-color: #A8A8A8;
    }
    td.day {
        background-color: #A8A8A8;
    }
    td.blank {
        background-color: #A8A8A8;
        text-align: center;
    }
    div.status {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
